<div class="container-fluid audit-container">
    <div class="header" style="position: relative; top: 80px; margin-left: 45px;">
      <div class="row">
          <div class="col-md-4">
              <h1 class="text-center">Audit Trail</h1>
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-2">
            <div class="add-employee">
                <button class="remove btn btn-success">Export</button>
            </div>
          </div>
      </div>
  </div>
    <div class="container mt-5">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Email</th>
                        <th>UID</th>
                        <th>Registration Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="user">
                                <p></p>
                            </div>
                        </td>
                        <td>
                            <div class="info-container">
                                <p></p>
                            </div>
                        </td>
                        <td>
                          <div class="info-container">
                              <p><p>
                          </div>
                      </td> 
                        <td>
                            <div class="datefiled">
                                <p></p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  