
<div class="about-container">
    <div class="about-sec1">
        <h1 class="aboutheader">Our mission is to provide an Online Processing System for the Barangay Pulong Sta. Cruz</h1>
        <p class="abouttext">Barangay Pulong Sta. Cruz currently processes paperwork in the traditional manner due to the absence of a system in place which results in consuming a significant amount of a resident's day or week in processing their statutory documents.
        <br><br> By providing a designed and developed system that allows online processing of statutory <br> documents, it will help the personnel to process documents needed in a minimum amount of time.
        </p>
        <p></p>
    </div>
    <div class="about-sec2">
        <img class="asiatech" src="/assets/images/1.png" alt="">
        <div class="our-bg">
            <h1 class="our-bg-header">Our Background</h1>
            <p class="our-bg-text">The Team are the aspiring students of the Asia Technological School of Science and Arts under College of Engineering and Information Technology Education Department.
            The website will be the fulfillment of our final output on our Capstone project under supervision of our Department OIC Rozaida C. Tuazon and the Professors under the CEITE Department.</p>
        </div>
    </div>
    <div class="about-sec3">
        <img class="psc" src="/assets/images/2.png" alt="">
        <div class="our-core">
            <h1 class="our-core-header">Our Core</h1>
            <p class="our-core-text">Our Team have seen the potential to provide an online processing of documents in the Barangay Pulong Sta. Cruz, Laguna. While many of us has a limited time to process on a face-to-face manner.
            The project will be a profound processing system in the Barangay to enhance the technological skills and to innovate the traditional manual processing of documents.</p>
        </div>
    </div>
    <div class="about-sec4">
        <div class="our-team">
            <h1 class="our-team-header">Meet Our Team</h1>
            <p class="our-team-text">We've had an amazing journey coming to where we are today, and now we feel confident that we provide you a professional and effective solution in a timely manner. We would like to express more of our skills in different aspects of programming to master and to expand our understanding each piece of it for our future career.</p>

        </div>
        <div class="card">
            <div class="card-container-group">
                <div class="card-container">
                    <img src="/assets/images/Adriane.png" alt="Avatar">
                    <h4><b>Abella, Adriane</b></h4>
                    <p class="course">BSIT</p>
                    <p class="school">Asia technological School of Science and Arts</p>
                    <div class="socials">
                        <a href="https://www.facebook.com/adrianepaul.abella.9"><i class="fa-brands fa-facebook fa-2xl" style="color: #080808; margin-right: -30px;"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin fa-2xl" style="color: #080808; margin-right: -30px;"></i></a>
                        <a href=""><i class="fa-brands fa-github fa-2xl" style="color: #080808;"></i></a>
                    </div>
                </div>
                <div class="card-container">
                    <img src="/assets/images/Dulce.png" alt="Avatar">
                    <h4><b>Cledera, Dulce Maria</b></h4>
                    <p class="course">BSIT</p>
                    <p class="school">Asia technological School of Science and Arts</p>
                    <div class="socials">
                        <a href="hhttps://www.facebook.com/DulceMariaCledera"><i class="fa-brands fa-facebook fa-2xl" style="color: #080808; margin-right: -30px;"></i></a>
                        <a href="https://www.linkedin.com/in/dulce-cledera-343326213/"><i class="fa-brands fa-linkedin fa-2xl" style="color: #080808; margin-right: -30px;"></i></a>
                        <a href="https://github.com/Dulsssyy"><i class="fa-brands fa-github fa-2xl" style="color: #080808;"></i></a>
                    </div>
                </div>
                <div class="card-container">
                    <img src="/assets/images/Gab.png" alt="Avatar">
                    <h4><b>Dela Cueva, Gab</b></h4>
                    <p class="course">BSIT</p>
                    <p class="school">Asia technological School of Science and Arts</p>
                    <div class="socials">
                        <a href="https://www.facebook.com/gabdlc99"><i class="fa-brands fa-facebook fa-2xl" style="color: #080808; margin-right: -30px;"></i></a>
                        <a href="https://www.linkedin.com/in/gab-delacueva-5145021a4/"><i class="fa-brands fa-linkedin fa-2xl" style="color: #080808; margin-right: -30px;"></i></a>
                        <a href="https://github.com/jibikyu"><i class="fa-brands fa-github fa-2xl" style="color: #080808;"></i></a>
                    </div>
                </div>
                <div class="card-container">
                    <img src="/assets/images/Rean.png" alt="Avatar">
                    <h4><b>Fernandez, Rean</b></h4>
                    <p class="course">BSIT</p>
                    <p class="school">Asia technological School of Science and Arts</p>
                    <div class="socials">
                        <a href="https://www.facebook.com/reanfernandez00"><i class="fa-brands fa-facebook fa-2xl" style="color: #080808; margin-right: -30px;"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin fa-2xl" style="color: #080808; margin-right: -30px;"></i></a>
                        <a href="https://github.com/rnfrnndz12345"><i class="fa-brands fa-github fa-2xl" style="color: #080808;"></i></a>
                    </div>
                </div>
                <div class="card-container">
                    <img src="/assets/images/Christian.png" alt="Avatar">
                    <h4><b>Samonte, Christian</b></h4>
                    <p class="course">BSCS</p>
                    <p class="school">Asia technological School of Science and Arts</p>
                    <div class="socials">
                        <a href="https://www.facebook.com/SamTheManOfPurpose/"><i class="fa-brands fa-facebook fa-2xl" style="color: #080808; margin-right: -30px;"></i></a>
                        <a href="https://www.linkedin.com/in/christian-samonte-baa66426a/"><i class="fa-brands fa-linkedin fa-2xl" style="color: #080808; margin-right: -30px;"></i></a>
                        <a href="https://github.com/Chan03sam"><i class="fa-brands fa-github fa-2xl" style="color: #080808;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-sec5">
        <div class="maps">
            <iframe class="esyatek" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3866.3922921340054!2d121.10831780424013!3d14.288624901376506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d8443bd38d5f%3A0x5b5112555ddaf9e9!2sAsia%20Technological%20School%20of%20Science%20and%20Arts!5e0!3m2!1sen!2sph!4v1693822612343!5m2!1sen!2sph" width="1100" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe class="pulong" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18392.659671304547!2d121.06747278979715!3d14.27767591999817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d81d293550b3%3A0xb62acec00d5517da!2sPulong%20Santa%20Cruz%2C%20Santa%20Rosa%2C%20Laguna!5e0!3m2!1sen!2sph!4v1693822744183!5m2!1sen!2sph" width="1100" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="about-footer">
        <p>Copyright © PSCPortal Website 2023</p>
    </div>
</div>
