<div class="edit-container content py-4">
    <div class="card card-outline card-success shadow rounded-0 w-50">
        <div class="card-header rounded-0">
            <div class="card-tools row">
                <h1 class="card-title col-9">Account Information:</h1>
                <a routerLink="profile-edit" class="col-3 btn btn-default bg-warning" style="background-color: #114e3f;"><i class="fa fa-edit"></i> Update Account</a>
            </div>
        </div>
        <div class="card-body rounded-0">
            <div class=" container-fluid">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <img class="avatar img-fluid bg-gradient-dark border" src="/assets/images/user_icon.png" alt="" [src]="profileImageURL">
                        </div>
                        <div class="col-lg-8 col-sm-12">
                            <dl class="form-control" >
                                <dt class="text-navy">Full Name:</dt>
                                <dd class="pl-4"><h3>{{ userName }}</h3></dd>
                                <dt class="text-navy">Age:</dt>
                                <dd class="pl-4"><h3>{{ userData.age }}</h3></dd>
                                <dt class="text-navy">Gender:</dt>
                                <dd class="pl-4"><h3>{{ userData.gender }}</h3></dd>
                                <dt class="text-navy">Contact Number:</dt>
                                <dd class="pl-4"><h3>{{ userData.contactNo }}</h3></dd>
                                <dt class="text-navy">Address:</dt>
                                <dd class="pl-4">{{ userData.address }}</dd>
                                <dt class="text-navy">Birthdate:</dt>
                                <dd class="pl-4">{{ userData.birthdate }}</dd>
                                <dt class="text-navy">Place of Birth:</dt>
                                <dd class="pl-4">{{ userData.placeOfBirth }}</dd>
                                <dt class="text-navy">Civil Status:</dt>
                                <dd class="pl-4">{{ userData.civilStatus }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
