<div class="reg-container">
    <div class="login">
    <div class="container">
        <div class="left">
            <img src="/assets/images/register-image.png" alt="" class="left-image">
            <p><i>Note: <br> Remember your login credentials and don't forget to use strong passwords.</i></p>
        </div>

        <div class="right">
            <form action="">
                <div class="right-header">
                    <img class="signin-logo" src="/assets/images/banner.png" alt="">
                    <h1>Register</h1>
                </div>
                <div class="loginform">
                    <label for="email">Full Name:</label><br>
                    <input #registerName type="email" name="name" id="name" placeholder="First Name, Last Name, Middle Name" [(ngModel)]="name"><br>
                    <label for="email">Email:</label><br>
                    <input #registerEmail type="email" name="email" id="" placeholder="example@gmail.com" [(ngModel)]="email"><br>
                    <label for="password">Password:</label><br>
                    <input #registerPassword type="password" name="password" id="pass" placeholder="Enter your password" [(ngModel)]="password">
                    <label for="password">Confirm Password:</label><br>
                    <input #registerConfirmPassword type="password" name="confirmpassword" id="pass" placeholder="Enter your password" [(ngModel)]="confirmpassword">
                    <button class="loginbutton" (click)="register()">Register</button><br><br>
                    <div class="forgot">
                        <p><i>Already have an account? Click here to </i> <a href="/"><i>Login</i></a></p>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
</div>
