<div class="dashboard-container">
    <div class="wrapper">
      <div class="container">

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 digiclock">
            <div class="card digicard">
              <div class="card-body">
                <div class="clock-container clock" #digitalClock>
              </div>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>

        <div class="row text-center">
            <div class="col-md-6 chart">
              <div class="card">
                <div class="card-body">
                  <canvas #totalUsersChartCanvas></canvas>
                </div>
              </div>
            </div>

            <div class="col-md-6 radar">
              <div class="card radar">
                <div class="card-body radar">
                  <p>Data Overview (Radar Chart)</p>
                  <canvas class="radarcan" #radarChartCanvas></canvas>
                </div>
              </div>
            </div>
        </div>
  
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body donut">
                <p>Pending Requests</p>
                <canvas class="donucan" #pendingRequestsChartCanvas></canvas>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card">
              <div class="card-body donut">
                <p>Approved Requests</p>
                <canvas class="donucan" #approvedRequestsChartCanvas></canvas>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card">
              <div class="card-body donut">
                <p>Rejected Requests</p>
                <canvas class="donucan" #rejectedRequestsChartCanvas></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  