<div class="dashboard-container">
    <div class="wrapper">
        <div class="container row w-50">
            <div class="row">
                <div class="col">

                </div>
                <div class="col">
    
                </div>
            </div>
            <div class="row">
                <div class="col">

                </div>
                <div class="col">
    
                </div>
            </div>
            <div class="row">
                <div class="col ">

                </div>
                <div class="col">
    
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
