<div class="dashboard-container">
  <div class="wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-9">
                <h1 style="font-size: 42px;">System Analytics</h1>
              </div>
              <div class="col-md-3 digiclock">
                  <div class="card digicard">
                      <div class="card-body clockbody">
                          <div class="clock-container clock" #digitalClock>
                              <!-- Your digital clock content -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>


          <div class="row">
              <div class="col-md-3">
                  <div class="card">
                      <div class="card-body donut">
                          <div class="donut-content">
                              <canvas class="donucan" #pendingRequestsChartCanvas></canvas>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3">
                  <div class="card">
                      <div class="card-body donut">
                          <div class="donut-content">
                              <canvas class="donucan" #approvedRequestsChartCanvas></canvas>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3">
                  <div class="card">
                      <div class="card-body donut">
                          <div class="donut-content">
                              <canvas class="donucan" #rejectedRequestsChartCanvas></canvas>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3">
                <div class="card">
                    <div class="card-body donut">
                        <div class="donut-content">
                            <canvas class="donucan" #employeesChartCanvas></canvas>
                        </div>
                    </div>
                </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-6 chart">
                  <div class="card">
                      <div class="card-body chartbody">
                          <canvas class="chartcan" #totalUsersChartCanvas></canvas>
                      </div>
                  </div>
              </div>

              <div class="col-md-6 radar">
                  <div class="card radar">
                      <div class="card-body radar">
                          <canvas class="radarcan" #radarChartCanvas></canvas>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
