
<div class="login-container slide-in-top">
    <div class="login">
        <div class="closebutton">
            <button class="close slide-out-top" (click)="closeLoginModal()"><i class="fa-solid fa-xmark fa-xl"></i></button>
        </div>
        
        <div class="container">
            <div class="left">
                <img src="/assets/images/login-image.png" alt="" class="left-image">
                <p><i>Note: <br> Make sure provide the right information and remember your password.</i></p>
            </div>
    
            <div class="right">
                <form action="">
                    <div class="right-header">
                        <img class="signin-logo" src="/assets/images/banner.png" alt="">
                        <h1>Sign In</h1>
                    </div>
                    <div class="loginform">
                        <label for="email">Email:</label><br>
                        <input type="email" name="email" id="" placeholder="example@gmail.com" [(ngModel)]="email"><br>
                        <label for="password">Password:</label><br>
                        <input type="password" name="password" id="pass" placeholder="Enter your password" [(ngModel)]="password">
                        <button class="loginbutton" (click)="login()">Login</button><br><br>
                        <button class="googlebutton">Sign-in with Google</button><br><br>
                        <div class="forgot">
                            <a href="" routerLink="/forgot-password" (click)="closeLoginModal()"><i>Forgot your password?</i></a>
                            <p><i>Don't have an account yet? Click here to </i> <a href="" (click)="closeLoginModal()" routerLink="register"><i>Register</i></a></p>
                        </div>
                        <div class="captcha">
                            <h3>I am not a robot CAPTCHA <br> COMPONENT </h3>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>