<div class="container">
    <div class="row">
        <div class="col">
            <div class="left-text">
                <h1>PULONG STA. CRUZ</h1>
                <h3>Document Processing System</h3>
                <p>Empowering the Community: Simplifying the Processing of Statutory <br> Documents for the Citizens of Barangay Pulong Sta. Cruz.</p>
                <button class="getstarted button" (click)="openLoginModal()">Get Started</button>
            </div>
        </div>
        
        <div class="col d-flex justify-content-center align-items-center right">
            <img src="assets/images/banner.png" alt="" class="img-fluid">
        </div>
    </div>
    
    <div class="row comms">
        <div class="col-md-6">
            <app-post></app-post>
        </div>
    </div>
</div>
