<div class="container">
    <div class="row">
        <div class="col">
            <div class="left-text">
                <h1>PULONG STA. CRUZ</h1>
                <h3>Document Processing System</h3>
                <p>Empowering the Community: Simplifying the Processing of Statutory <br> Documents for the Citizens of Barangay Pulong Sta. Cruz.</p>
                <button class="getstarted button" (click)="openLoginModal()">Get Started</button>
            </div>
        </div>
        
        <div class="col d-flex justify-content-center align-items-center right">
            <img src="assets/images/banner.png" alt="" class="img-fluid">
        </div>

        <div class="row posts slide-in-right" *ngIf="showPostComponent">
            <app-post></app-post>
        </div>
        <div class="row events slide-in-right" *ngIf="showEventComponent">
            <app-event></app-event>
        </div>
        <div class="row announcements slide-in-right" *ngIf="showAnnouncementComponent">
            <app-announcement></app-announcement>
        </div>
    </div>
    <div class="row row-buttons text-center">
        <div class="col-auto">
        <button class="toggle-button comms" [class.active]="showPostComponent" (click)="toggleComponent('post')"><i class="fa-brands fa-signal-messenger fa-xl"></i></button>
        </div>
        <div class="col-auto">
        <button class="toggle-button comms" [class.active]="showEventComponent" (click)="toggleComponent('event')"><i class="fa-solid fa-calendar-days fa-xl"></i></button>
        </div>
        <div class="col-auto">
        <button class="toggle-button comms" [class.active]="showAnnouncementComponent" (click)="toggleComponent('announcement')"><i class="fa-solid fa-bullhorn fa-xl"></i></button>
        </div>
    </div>
</div>
