.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    font-family: "Segoe UI";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
h1{
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 4px;
}
h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
p{
  font-size: 16px;
}
.wrapper{
    position: absolute;
    width: 100%;
    height: 100vh;
}

.container .getstarted{
    border: 2px RGB(25, 137, 220) solid;
    color: white;
    background-color: RGB(25, 137, 220);
    border-radius: .4em;
    padding: 2px 15px 2px 15px ;
    margin : auto;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 550;
    letter-spacing: .5px;
    height: 36px;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out, transform 200ms ease-in-out;
}
.container .getstarted:hover{
    color: white;
    background-color: RGB(25, 137, 220);
    transform: scale(1.2);
}
.left-text{
    position: relative;
    top: 280px;
    left: 80px;
}
.right{
  position: relative;
  width: fit-content;
  height: fit-content;
  top: 150px;
}

.posts{
  position: absolute;
  left: 45%;
  margin-top: 62px;
}
.events{
  position: absolute;
  left: 62%;
  margin-top: 62px;
}
.announcements{
  position: absolute;
  left: 62%;
  margin-top: 62px;
}

.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: RGB(25, 137, 220);
  transition: all 0.2s ease;
}

.row-buttons{
  position: relative;
  width: 40%;
  left: 7%;
  top: 2%;
  border-bottom: 2px solid rgb(31, 31, 31);
}
.toggle-button{
  width: 140px;
}

.comms {
  font-size: 12px;
  background: transparent;
  border: none;
  padding: 1em;
  color: rgb(31, 31, 31);
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  font-weight: 600;
}

.comms::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: RGB(25, 137, 220);
  transition: 0.5s ease;
}

.comms:hover {
  color: #ffffff;
  transition-delay: 0.5s;
}

.comms:hover::before {
  width: 100%;
}

.comms::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: RGB(25, 137, 220);
  transition: 0.4s ease;
  z-index: -1;
}

.comms:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}






.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, RGB(25, 137, 220) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, RGB(25, 137, 220) 20%, transparent 30%),
    radial-gradient(circle, RGB(25, 137, 220) 20%, transparent 20%),
    radial-gradient(circle, RGB(25, 137, 220) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, RGB(25, 137, 220) 15%, transparent 20%),
    radial-gradient(circle, RGB(25, 137, 220) 20%, transparent 20%),
    radial-gradient(circle, RGB(25, 137, 220) 20%, transparent 20%),
    radial-gradient(circle, RGB(25, 137, 220) 20%, transparent 20%),
    radial-gradient(circle, RGB(25, 137, 220) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, RGB(25, 137, 220) 20%, transparent 20%),
    radial-gradient(circle, RGB(25, 137, 220) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, RGB(25, 137, 220) 15%, transparent 20%),
    radial-gradient(circle, RGB(25, 137, 220) 20%, transparent 20%),
    radial-gradient(circle, RGB(25, 137, 220) 20%, transparent 20%),
    radial-gradient(circle, RGB(25, 137, 220) 20%, transparent 20%),
    radial-gradient(circle, RGB(25, 137, 220) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
