<div class="container slide-in-fwd-center">
    <div class="">
        <div class="closebutton">
            <button class="close" (click)="closeFormModal()"><i class="fa-solid fa-xmark fa-xl"></i></button>
        </div>
        <div class="form-container">
            <h2>Certificate of Residency Request Form</h2>
            <form (submit)="submitRequest()" #requestForm="ngForm">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="{{userData.firstName}} {{userData.middleName}} {{userData.lastName}}" required>

                <label for="address">Address:</label>
                <input type="text" id="address" name="address" [(ngModel)]="address" placeholder="{{userData.address}}" required>
                
                <label for="yearsofresidency">Years of Residency:</label>
                <input type="text" id="yearsofresidency" name="yearsofresidency" [(ngModel)]="yearsofresidency" placeholder="Example: '10 Years'" required>

                <label for="purpose">Purpose:</label>
                <input type="text" id="purpose" name="purpose" [(ngModel)]="purpose" required>
                <button type="submit" [disabled]="!requestForm.form.valid">Submit Request</button>
        </form>
        </div>
    </div>
</div>

