<div class="forms-container">
    <div class="forms">
        <div (click)="openFormModal('/brgy-id', 'Barangay ID')" class="form1">
            <img src="/assets/images/forms_images/form1.png" alt="">
            <h5>Barangay ID</h5>
        </div>
        <div (click)="openFormModal('/brgy-clearance', 'Barangay Clearance')" class="form2">
            <img src="/assets/images/forms_images/form2.png" alt="">
            <h5>Barangay Clearance</h5>
        </div>
        <div (click)="openFormModal('/business-clearance', 'Business Clearance')" class="form3">
            <img src="/assets/images/forms_images/form3.png" alt="">
            <h5>Business Clearance</h5>
        </div>
        <div (click)="openFormModal('/cert-indigency', 'Certificate of Indigency')" class="form4">
            <img src="/assets/images/forms_images/form4.png" alt="">
            <h5>Certificate of Indigency</h5>
        </div>
        <div (click)="openFormModal('/cert-cohabitation', 'Certificate of Cohabitation')" class="form5">
            <img src="/assets/images/forms_images/form5.png" alt="">
            <h5>Certificate of Cohabitation</h5>
        </div>
        <div (click)="openFormModal('/cert-residency', 'Certificate of Residency')" class="form6">
            <img src="/assets/images/forms_images/form6.png" alt="">
            <h5>Certificate of Residency</h5>
        </div>
        <div (click)="openFormModal('/cert-goodmoral', 'Certificate of Good-Moral')" class="form7">
            <img src="/assets/images/forms_images/form7.png" alt="">
            <h5>Certificate of Good Moral</h5>
        </div>
        <div (click)="openFormModal('/cert-guardianship', 'Certificate of Guardianship')" class="form8">
            <img src="/assets/images/forms_images/form8.png" alt="">
            <h5>Certificate of Guardianship</h5>
        </div>
    </div>
</div>
