<div class="container-fluid forms-container">
    <div class="container">
        <div class="row justify-content-center">
            <div (click)="openFormModal('/brgy-id', 'Barangay ID')" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 form-card">
                <img src="/assets/images/forms_images/form1.png" alt="">
                <h5>Barangay ID</h5>
            </div>
            <div (click)="openFormModal('/brgy-clearance', 'Barangay Clearance')" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 form-card">
                <img src="/assets/images/forms_images/form2.png" alt="">
                <h5>Barangay Clearance</h5>
            </div>
            <div (click)="openFormModal('/business-clearance', 'Business Clearance')" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 form-card">
                <img src="/assets/images/forms_images/form3.png" alt="">
                <h5>Business Clearance</h5>
            </div>
            <div (click)="openFormModal('/cert-indigency', 'Certificate of Indigency')" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 form-card">
                <img src="/assets/images/forms_images/form4.png" alt="">
                <h5>Certificate of Indigency</h5>
            </div>
            <div (click)="openFormModal('/cert-cohabitation', 'Certificate of Cohabitation')" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 form-card">
                <img src="/assets/images/forms_images/form5.png" alt="">
                <h5>Certificate of Cohabitation</h5>
            </div>
            <div (click)="openFormModal('/cert-residency', 'Certificate of Residency')" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 form-card">
                <img src="/assets/images/forms_images/form6.png" alt="">
                <h5>Certificate of Residency</h5>
            </div>
            <div (click)="openFormModal('/cert-goodmoral', 'Certificate of Good-Moral')" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 form-card">
                <img src="/assets/images/forms_images/form7.png" alt="">
                <h5>Certificate of Good Moral</h5>
            </div>
            <div (click)="openFormModal('/cert-guardianship', 'Certificate of Guardianship')" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 form-card">
                <img src="/assets/images/forms_images/form8.png" alt="">
                <h5>Certificate of Guardianship</h5>
            </div>
        </div>
        
    </div>
</div>
