<div class="container-fluid history-container">
    <div class="header" style="position: relative; top: 80px; margin-left: 45px;">
      <div class="row">
          <div class="col-md-3">
              <h1 class="text-center">Activity Logs / History</h1>
          </div>
          <div class="col-md-5">
          </div>
          <div class="col-md-3" style="margin-right: 50px;">
                  <div class="searchbar input-group">
                      <input type="text" class="form-control" placeholder="Search..."/>
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary search" type="button"><i class="fa fa-search"></i></button>
                      </div>
                  </div>
      </div>
  </div>
    <div class="container mt-5">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="date">
                                <p></p>
                            </div>
                        </td>
                        <td>
                            <div class="activity">
                                <p><p>
                            </div>
                        </td>
                        <td>
                          <div class="status">
                              <p><p>
                          </div>
                      </td> 
                        <td>
                            <div class="message">
                                <p></p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  